<!doctype html>
<html lang="en"  ng-app="LunchCheck">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
      .text-success{color: #00ff00;}
      .text-failure{color: #ff0000;}
      .border-success{border: 1px solid #00ff00; padding: 10px;}
      .border-failure{border: 1px solid #ff0000; padding: 10px;}
    </style>
  </head>
<body>
   <div class="container" ng-controller='LunchCheckController'>
     <h1>Lunch Checker {{name}}</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control"
             ng-model="LunchMenu">
             <br />This does NOT consider and empty item, i.e., `, ,` as an item towards to the count.
         </div>
         <div class="form-group">
            <button class="btn btn-primary" ng-click="checkLunch()">Check If Too Much..</button>

         </div>
         <div class="form-group message {{BorderFlag}}">
<p class="{{TextFlag}}">{{ TestOutput }}</p>
         </div>
   </div>
<script src="scripts/angular.min.js"></script>
<script src="scripts/app.js"></script>
</body>
</html>
